<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="">
            <div style="font-size:25pt;">
                換貨管理
            </div>
   
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @*@Html.ActionLink("換貨管理", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    
    <div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("首頁", "Index", "Home")</li>
            <li>@Html.ActionLink("關係管理", "About", "Home")</li>
            <li>@Html.ActionLink("出貨管理", "Contact", "Home")</li>
            <li>@Html.ActionLink("商品管理", "Contact", "Home")</li>
            <li>@Html.ActionLink("訂單管理", "Contact", "Home")</li>
            <li>@Html.ActionLink("活動管理", "Contact", "Home")</li>
            <li>@Html.ActionLink("退貨管理", "Contact", "Home")</li>
        </ul>
    </div>
</div>
    </div>
    <div class="">
        
        @RenderBody()
        <hr />
        <footer>
            @*&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式*@
            我是 footer<br>
            footer {
            color: red;
            background-color: #DEECD1;
            padding:20px;
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
